:root {
  --white: #ffffff;
  --black: #000000;
  --primary-pulple: #6a4bff;
  --primary-dark: #171725;
  --primary-black-accent: #1d2335;
  --secondary-yellow: #f6c949;
  --secondary-red: #ff7256;
  --secondary-green: #3bc963;
  --secondary-orange: #ff6b2c;
  --secondary-blue: #1d92f1;
  --text-color-black: #25546f;
  --text-color-dark-grey: #696974;
  --text-color-grey: #92929d;
  --text-color-line-dark: #eaeaea;
  --text-color-white-grey: #f1f1f5;
  --text-color-white: #ffffff;
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
}
