* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #92929d;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
