.input__search {
    width: 60%;
    margin: 0 auto;
    margin-top: 10em;
    display: flex;
    background-color: var(--color__white);
    padding: 10px 15px;
    border-radius: 3px;
}
.input__search input {
    width: 100%;
    border: none;
    outline: none;
    
}
@media (max-width: 768px) {
    .input__search {
        width: 70%;
    }
}