a {
    font-family: 'PoppinsRegular';
    color:#24f727 !important;
    font-size:1rem;
    text-decoration: none !important;
   
}
a:hover{
    color:#24f727 ;
    text-decoration: underline !important;
    text-decoration-color:#24f727
}