@import "~bootstrap/scss/bootstrap";

.navbar-brand {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-span {
  color: rgb(196, 218, 227);
  font-weight: bold;
}