.container {
  padding: 30px 0;
}

.header {
  background-color: #2e3641;
  color: white;
}

.header tr th {
  user-select: none;
  padding: 15px;
}

.items-task td {
  text-align: center;
  padding: 10px 18px !important;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.strikethrough {
  text-decoration: line-through;
  color: #9eb2c0;
}

.no-strikethrough {
  color: #2e3641;
}

.button-trash {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-plus {
  color: #9eb2c0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.color-trash {
  color: #9eb2c0;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}
