body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url(./assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'PoppinsThin';
  src: url(./assets/font/Poppins-Thin.ttf);
}
@font-face {
  font-family: 'RM';
  src: url(./assets/font/get_schwifty.ttf);
}
