@use "../../styles/vars";

.Layout {
  padding: var(--lg);

  h1 {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--text-color-black);
  }
  h2 {
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--text-color-black);
  }
  h3 {
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-color-black);
  }
  h4 {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color-black);
  }
  h5 {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--text-color-black);
  }
  h6 {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color-black);
  }
  h7 {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color-black);
  }

  .big-title {
    font-weight: 600;
    font-size: 5.2rem;
    color: var(--text-color-black);
  }
  .semi-title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--text-color-black);
  }
  .regular {
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color-black);
  }
}

@media (max-width: 375px) {
  .Layout {
    .big-title {
      font-size: 3.5rem;
    }
  }
}
